<div class="card-body">
    <h2 class="card-title">Detalles actor</h2>
    <ng-template #templateActor>
      <p class="card-text">Aqui van los controles neceesarios, según la entidad y funcionalidad requerida</p>
    </ng-template>
    <ul *ngIf="actor; else templateActor">
      <li>Nombre: {{ actor.nombre }} {{ actor.apellido }}</li>
      <li>Fecha de Nacimiento: {{ actor.fechaDeNacimiento.toLocaleDateString() }}</li>
      <li>Pais: {{ actor.nacionalidad }}</li>
    </ul>
    <button (click)="limpiarDatos()" class="btn btn-dark">limpiar</button>
</div>