<div class="p-5 bg-light">
    <div class="container py-5">
      <h1 class="display-5">Listado de elementos</h1>
      <table class="text-center mb-4">
        <thead>
            <tr>
                <th>
                    <p>Id</p>
                </th>
                <th>
                    <p>Nombre</p>
                </th>
                <th>
                    <p>Tipo</p>
                </th>
                <th>
                    <p>Fecha de Estreno</p>
                </th>
                <th>
                    <p>Publico</p>
                </th>
                <th>
                    <p>Foto</p>
                </th>
            </tr>
        </thead>
        <tbody *ngIf="src.length > 0">
            <tr *ngFor="let fila of src" (click)="seleccionarPelicula(fila)">
                <td>
                    <p>{{ fila.id }}</p>
                </td>
                <td>
                    <p>{{ fila.nombre }}</p>
                </td>
                <td>
                    <p>{{ fila.tipo }}</p>
                </td>
                <td>
                    <p>{{ fila.fechaDeEstreno.toDateString() }}</p>
                </td>
                <td>
                    <p>{{ fila.publico }}</p>
                </td>
                <td>
                    <img [src]="fila.foto" alt="Foto de la película">
                </td>
            </tr>
        </tbody>
    </table>
    
    <button class="btn btn-primary btn-lg" type="button" (click)="cambiarVista()">cambiar vista</button>
    </div>
</div>
